/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

// reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
   box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


//styles




//MAIN PAGE

@font-face {
   font-family: bastard;
   src: url("../src/styles/fonts/Bastard-jWA0.ttf");
}

@font-face {
   font-family: batteredcooperfont;
   src: url("../src/styles/fonts/BatteredCooper-ZEEB.ttf");
}

@font-face {
   font-family: digital7;
   src: url("../src/styles/fonts/digital-7.ttf");
}

body {
   height: 100vh;
   width: 100vw;
}

.main-container {
   background: url("../src/styles/assets/natural-wooden-background.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.top-container {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   width: 100%;
   height: 24%;
}

.title-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 4rem;
   width: 18.75rem;
   font-family: batteredcooperfont;
   font-size: calc(2.1rem + 2vw);
   color: #181516;
}

.title { 
   animation: fadeIn 3s;
}


@keyframes slowZoom {
   0% { text-size-adjust: 40px; }
   100% { text-size: 65px; }
}

// .title {
//    animation: slowZoom 4s;
// }

.github:hover {
   cursor: pointer;
}

.linked-in:hover {
   cursor: pointer;
}

.github {
   width: 64px;
   right: 1%;
   top: 1%;
   height: 64px;
   background-image: url("../src/styles/assets/GitHub-Mark-64px.png");
}

.linked-in {
   width: 64px;
   right: 6%;
   top: 1%;
   height: 64px;
   background-image: url("../src/styles/assets/stepSeq_linkedin_bug.png");
}

@keyframes fadeDelay {
   0% { opacity: 0;}
   100% { opacity: 0;}
}

@keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

.links {
   animation: fadeDelay 4s, fadeIn 3s 4s;
   width: 12rem;
   height: 6rem;
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.bottom-container {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   width: 100%;
   height: 76%;
   padding-bottom: 4rem;
}

//-------------------------------------------------------




//UNIT

.sequencer {
   height: 70%;
   height: 25rem;
   width: 85%;
   position: relative;
   z-index: 2;
   background-color: rgb(45, 49, 50);
   padding-left: 1rem;
   padding-right: 1rem;
   padding-top: 1rem;
   max-width: 85%;
   display: flex;
   border-color: rgb(67, 66, 66);
   border-style: solid;
   border-width: 1px;
   border-radius: 8px;
   flex-direction: column;
   align-items: center;
   box-shadow: 10px 15px 20px 2px rgba(0,0,0,.8);
   gap: .4rem;
}

button {
   border-radius: 5px;
   height: 80%;
   border-style: solid;
   border-width: 1px;
   border-color: rgb(85, 81, 81);
   margin: 3px;
   height: 25px;
   width: 10vw;
   background-color: lightgrey;
   transition: all 0.2s ease-in-out;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

button:hover {
   background-color: white;
   border-color: lightblue;
   cursor: pointer;
}


//-------------------------------------------------------



//VISUALIZER

@keyframes visDelay {
   0% {
      height: 0;
      top: 0;
      visibility: hidden;
   }
   100% {
      height: 0;
      top: 0;
      visibility: hidden;
   }
}

@keyframes visSlideUp {
   0% { 
      height: 0;
      top: 0;
      box-shadow: none;
      width: 29%;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
   }
   100% {
      height: 7.5rem;
      top: -7.563rem;
      box-shadow: none;
      width: 29%;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
   }
}

@keyframes visPushIn {
   0% {
      height: 7.5rem;
      width: 29%;
      top: -7.563rem;
      box-shadow: none;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
   }
   100% {
      height: 8rem;
      width: 30%;
      top: -8.063rem;
      box-shadow: .625rem .3rem 1.25rem .125rem rgba(0,0,0,.8);
      border-left: .063rem solid rgb(67, 66, 66);
      border-right: .063rem solid rgb(67, 66, 66);
      border-top: .063rem solid rgb(67, 66, 66);
   }
}

.visualizer {
   animation-name: visDelay, visSlideUp, visPushIn;
   animation-duration: 2s, 2s, 1s;
   animation-delay: 0s, 2s, 4s;
   display: flex;
   padding: .8rem;
   position: absolute;
   justify-content: center;
   align-items: center;
   border-left: .063rem solid rgb(67, 66, 66);
   border-right: .063rem solid rgb(67, 66, 66);
   border-top: .063rem solid rgb(67, 66, 66);
   top: -8.063rem;
   width: 30%;
   height: 8rem;
   z-index: -1;
   background-color: rgb(45, 49, 50);
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
   box-shadow: .625rem .3rem 1.25rem .125rem rgba(0,0,0,.8);
}

@keyframes screenDelay {
   0% { visibility: hidden; }
   100% { visibility: hidden; }
}

@keyframes screenSlideUp {
   0% { height: 0; }
   100% { height: 100%; }
}

@keyframes screenGlowDelay {
   0% { background-color: rgb(9, 35, 6); }
   100% { background-color: rgb(9, 35, 6); }
}

@keyframes screenGlow {
   0% { background-color: rgb(9, 35, 6); }
   100% { background-color: rgb(43, 131, 33); }
}

.screen {
   background-color: rgb(43, 131, 33);
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
   animation-name: screenDelay, screenSlideUp, screenGlowDelay, screenGlow;
   animation-duration: 2s, 2s, 2s, 2s;
   animation-delay: 0s, 1.2s, 2s, 4s;
}

.waveform-image {
   width: 90%;
   height: 5rem;
   background-color: transparent;
}



//--------------------------------------------------------



//FX RACK

.fx-rack {
   display: flex;
   position: absolute;
   top: -9.55rem;
   left: 1rem;
   justify-content: space-around;
   align-items: center;
   border-left: .063rem solid rgb(67, 66, 66);
   border-right: .063rem solid rgb(67, 66, 66);
   border-top: .063rem solid rgb(67, 66, 66);
   width: 33%;
   height: 9.5rem; //change this
   z-index: 2;
   background-color: rgb(45, 49, 50);
   border-top-left-radius: 30px;
   border-top-right-radius: 12px;
   box-shadow: .3rem .3rem 1.25rem .125rem rgba(0,0,0,.8);
   transform-origin: bottom center;
   transform-style: preserve-3d;
   transition: all 2s ease;
}

.fx-rack[folded="false"] {
   transform: rotateX(0deg)
}

.fx-rack[folded="true"] {
   transform: rotateX(-90deg)
}

.slider-container {
   display: flex;
   height: 100%;
   width: calc(100% / 6);
   justify-content: space-around;
}

.slider-container-left, .slider-container-right {
   width: 50%;
   height: 100%;
}

.slider-container-left {
   display: flex;
   justify-content: center;
   writing-mode: vertical-lr;
   text-orientation: upright;
   position: relative;
   color: rgb(0, 0, 0);
   // text-shadow: 0rem .05rem .05rem #545454, .05rem 0rem .05rem #545454, -.05rem 0rem .05rem #545454, 0rem -.05rem .05rem #545454;
   font-size: .7rem;
   font-weight: 700;
}

.slider-container-left > label {
   width: 50%;
   height: 75%;
   position: absolute;
   left: .7rem;
   line-height: calc(.5 * 2.3vw);
   text-indent: .7rem;
   background-color: rgb(255, 255, 255);
   border-radius: 2px;
   box-shadow: inset 1px 0px rgb(88, 88, 88), inset -1px 0px rgb(88, 88, 88), inset 0px -1px rgb(88, 88, 88), inset 0px 1px rgb(88, 88, 88);
}

.slider-container-right {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.slider {
   all: unset;
   transform: rotate(270deg) translateY(-.2rem);
   position: absolute;
   background: black;
   height: .2rem;
   width: 7rem;
   cursor: pointer;
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   background-size: contain;
   height: 1.25rem;
   width: 2.5rem;
   perspective: 200rem;
   border: 0;
   background-image: url('../src/styles/assets/fader_head.png');
   cursor: pointer;
   transform-origin: bottom center;
   perspective: 1000px;
}

.slider::-moz-range-thumb {
   background-size: contain;
   border: 0;
   height: 1.25rem;
   width: 2.5rem;
   background-image: url('../src/styles/assets/fader_head.png');
   cursor: pointer;
}

//-----------------------------------------------------



//CONTROL BAR

.control-bar {
   position: relative;
   display: flex;
   height: 10%;
   width: 100%;
}

.control-area {
   height: 100%;
   background-color: #666666;
   border-width: .0625rem;
   border-radius: .3125rem;
   border-color: rgb(82, 82, 82);
   border-style: dotted;
}

#FX-readouts {
   width: 28vw;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: red;
}

#center-controls {
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: red;
   position: absolute;
   left: 36.85%;
   right: 36.85%;
}

#play-button[data-is-active="true"] {
   background-color: rgb(85, 255, 47);
}

#stop-button[data-is-active="true"] {
   background-color: red;
}

#right-controls {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 28vw;
   position: absolute;
   right: 0;
}

.tooltip {
   position: absolute;
   top: -2.2rem;
   font-size: .7rem;
   color: white;
   width: max-content;
   background-color: #384d8f;
   height: max-content;
   padding: .2rem;
   border: 1px solid rgb(85, 98, 113);
   border-radius: .2rem;
   visibility: hidden;
}

.tooltip::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #384d8f transparent transparent transparent;
}

button:hover > .tooltip {
   visibility: visible;
}

.readout-container {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #350e0e;
   height: 70%;
   width: 2.5rem;
   border-radius: .2rem;
   font-size: 1.5rem;
   font-family: digital7;
}

.readout-container  > p {
   padding-top: .2rem;
}

.piano-icon {
   background-image: url("../src/styles/assets/piano_icon.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: 0 .2rem;
   width: 1rem;
   height: 1rem;
}

.mic-icon {
   background-image: url("../src/styles/assets/microphone_icon.png");
   background-size: contain;
   background-size: 100% 80%;
   background-repeat: no-repeat;
   background-position: 0 .13rem;
   width: .9rem;
   height: .9rem;
}

#bpm-up-button, #bpm-down-button {
   width: 3vw;
}

#bpm-readout {
   margin-left: .5rem;
   margin-right: .5rem;
}



//-----------------------------------------------------




//GRID


.grid {
   // display: flex;
   position: relative;
   width: 100%;
   height: 75%;
   border: 1px solid rgb(62, 64, 65);
   border-radius: 3px;
   // flex-direction: column;
   // border-radius: 3px;
   // border: 1px solid rgb(62, 64, 65);
   // gap: .3rem; 
}

.sub-grid {
   display: flex;
   position: absolute;
   width: 100%;
   height: 100%;
   flex-direction: column;
   gap: .3rem;
}

.sub-grid >:nth-child(n + 2) {
   z-index: 2;
}

.sub-grid >:nth-child(-n + 1) {
   z-index: 1;
}

.track-groove {
   border: 1px double rgb(45, 49, 50);
   background-color: #000000;
   width: 100%;
   border-radius: 3px;
   height: 2rem;

}

.track {
   display: flex;
   border: 1px double rgb(45, 49, 50);
   background-color: #666666;
   width: 100%;
   border-radius: 3px;
   align-content: space-around;
   // transition: all .5s linear;
   overflow: hidden;
}

@keyframes rotateOut {
   0% {
      transform: rotateX(0);
      visibility: visible;
   }
   // 50% {
   //    visibility: hidden;
   // }
   100% {
      transform: rotateX(90deg);
      visibility: hidden;
   }

}
@keyframes rotateIn {
   0% {
      transform: rotateX(-90deg);
      visibility: hidden;
   }
   // 50% {
   //    visibility: visible;
   // }
   100% {
      transform: rotateX(0);
      visibility: visible;
   }
}



.track[visible="true"] {
   animation: rotateIn 1s linear;
}

.track[visible="false"] {
   transform: rotateX(-90deg);
   animation: rotateOut 1s linear;
   visibility: hidden;
}

.step {
   border-radius: 5px;
   height: 1.5rem;
   width: 4rem;
   border: 1px solid rgb(85, 81, 81);
   transition: none;
}

.drums[data-is-active="true"] {
   background-color: orange;
}

.synth[data-is-active="true"] {
   background-color: rgb(46, 199, 184);
}

.sound-fx[data-is-active="true"] {
   background-color: yellow;
}

.custom-sample[data-is-active="true"] {
   background-color: rgb(244, 128, 147);
}

.highlighted {
   box-shadow: .7px 0 1px 3px white, -.7px 0 1px 3px white, 0 .7px 1px 3px white, 0 -.7px 1px 3px white;
}

//-----------------------------------------------------




//SPACER / PALMREST

.spacer {
   width: 100%;
   height: .3rem;
   background-color: rgb(77, 77, 77);
   border-radius: 3px;
}

.palm-rest {
   width: 100%;
   height: 2.5rem;
   background-color: #232323;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border: 1px solid rgb(62, 64, 65);
}

//-----------------------------------------------------


//UNDER CONSTRUCTION MESSAGE

// #5 {
//    background-color: #666666;
//    border: 1px solid yellow;
//    width: 5rem;
//    height: auto;
// }

.under-construction {
   position: absolute;
   text-align: center;
   font-size: 4rem;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: yellow;
   background-color: grey;
   height: 17.5rem;
   line-height: 16.5rem;
   border-radius: 3px;
   width: 100%;
   z-index: 3;

}



//-----------------------------------------------------