body {
   // background-image: url("./src/styles/natural-wooden-background.jpg");
   // display: flex;
   // background-image: url("../src/styles/natural-wooden-background.jpg");
   // background-size: cover;
   height: 100vh;
   overflow: hidden;
   // // align-self: stretch;
   // // align-content: stretch;

   background: url("../src/styles/natural-wooden-background.jpg") no-repeat center center fixed;

   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; 
   
   // background-repeat:repeat-y;
   z-index: 0;
   // display: flex;
   // align-items: center;
}

@font-face {
   font-family: bastard;
   src: url("../src/styles/Bastard-jWA0.ttf");
}

@font-face {
   font-family: batteredcooperfont;
   src: url("../src/styles/BatteredCooper-ZEEB.ttf");
}

.title {
   position: fixed;     //doing flex fixes page resize but puts this at top
   height: 50px;
   width: 300px;
   top: 14%;
   left: 41.35%;
   font-family: batteredcooperfont;
   font-size: 65px;
   color: rgb(54, 40, 27)
}

.github:hover {
   cursor: pointer;
}

.github {
   width: 64px;
   position:absolute;
   right: 1%;
   top: 1%;
   height: 64px;
   background-image: url("../src/styles/GitHub-Mark-64px.png");
}

.link-delay {
   animation: fadeDelay 3s; 
}

.links {
   animation: fadeIn 5s;
   animation-delay: 3s;
}

.title { 
   animation: fadeIn 5s;
}

// .title {
//    animation: slowZoom 4s;
// }

@keyframes fadeDelay {
   0% { opacity: 0;}
   100% { opacity: 0; }
}

@keyframes slowZoom {
   0% { text-size-adjust: 40px; }
   100% { text-size: 65px; }
}

@keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}



@keyframes visSlideUp {
   0% { top: 51%; }
   100% { top: 31% }
}

@keyframes screenSlideUp {
   0% { top: 52.75%; }
   100% { top: 32.75% }
}

@keyframes visDelay {
   0% { top: 51%; }
   100% { top: 51% }
}

@keyframes screenDelay {
   0% { top: 52.75%; }
   100% { top: 52.75%; }
}
@keyframes screenGlow {
   0% { background-color: rgb(9, 35, 6); }
   100% { background-color: rgb(43, 131, 33); }
}

@keyframes screenGlowDelay {
   0% { background-color: rgb(9, 35, 6); }
   100% { background-color: rgb(9, 35, 6); }
}

.visualizer {
   animation-name: visDelay, visSlideUp;
   animation-duration: 4s, 2s;
   animation-delay: 0s, 4s;
}

.screen {
   animation-name: screenDelay, screenSlideUp, screenGlowDelay, screenGlow;
   animation-duration: 4s, 2s, 2s, 2s;
   animation-delay: 0s, 4s, 4s, 6s;
}

.main-container {
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   z-index: 1;
   overflow: hidden;
}

.visualizer {
   display: flex;
   position: fixed;
   justify-content: center;
   align-items: center;
   border-color: rgb(114, 112, 112);
   border-width: 1px;
   border-style: solid;
   // left: 32.95%;
   top: 31%;
   width: 440px;
   height: 190px;
   z-index: 2;
   background-color: rgb(45, 49, 50);
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
   box-shadow: 10px 15px 20px 2px rgba(0,0,0,.8);
}

.screen {
   background-color: rgb(43, 131, 33);
   position: fixed;
   width: 408px;
   height: 100px;
   z-index: 3;
   top: 32.75%;
   // border-radius: 10px;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
}

.unit {
   align-self: center;
   background-color: rgb(45, 49, 50);
   // background-image: url("../src/styles/seamless-wood-texture-1.jpg");
   position: absolute;
   padding: 20px;
   max-width: 100%;
   // width: 1400px;
   // height: 350px;
   top: 45%;
   // left: 1%;
   display: flex;
   border-color: rgb(67, 66, 66);
   border-style: solid;
   border-width: 1px;
   border-radius: 8px;
   flex-direction: column;
   align-items: center;
   z-index: 3;
   box-shadow: 10px 15px 20px 2px rgba(0,0,0,.8);
}

.control-bar {
   display: flex;
   justify-content: space-around;
   order: 1;
   height: 40px;
   width: 1198px;
   border-color: black;
   border-radius: 2px;
   border-width: 2px;
   margin: 4px;
   background-color: grey;
}

.control-bar > div {
   display: flex;
   justify-content: space-around;
   width: 300px;
   border-color: black;
   border-style: dotted;
   border-width: 1px;
   border-radius: 5px;

}

div > button {
   border-radius: 5px;
   height: 30px;
   width: 50px;
   border-style: solid;
   border-width: 1px;
   border-color: rgb(85, 81, 81);
   margin: 3px;
   outline: none;
   background-color: lightgrey;
   transition: all 0.2s ease-in-out;
}

.sequencer {
   order: 2;
   display: flex;
   position: relative;
   width: 1200px;
   height: auto;
   flex-direction: column;
   border-radius: 1px;
   border-width: 1px;
   border-style: solid;
   border-color: rgb(45, 49, 50);
}

.track {
   display: flex;
   border-style: double;
   background-color: grey;
   border-width: 1px;
   border-radius: 3px;
   border-color: rgb(45, 49, 50);
   
   // flex-direction: row;
   align-content: space-around;
   // border-style: dotted;
   // border-width: 1px;
   // border-color: red;
}



.step {
   border-radius: 5px;
   height: 30px;
   width: 40px;
   border-style: solid;
   border-width: 1px;
   border-color: rgb(85, 81, 81);
   margin: 3px;
   outline: none;
   background-color: lightgrey;
   // flex-direction: row;
   // width: 5px;
   // height: 5px;
   // border-style: dashed;
   // border-width: 1px;
   // border-color: blue;
}

.step[data-is-active="true"] {
   background-color: yellow;
}

.step:hover {
   border-color: lightblue;
}

div > button:hover {
   background-color: white;
   border-color: lightblue;
   cursor: pointer;
}

.track-action {
   align-self: flex-start;
}

.spacer {
   flex-direction: column;
   width: 3px;
   background-color: black;
}

// .playback-controls #0.active {
//    background-color: rgb(90, 240, 100);            FIX THIS!!!!!!
// }

// .step[data-is-playing="true"] {
//    background-color: lime;
// }

.highlighted {
   background-color: rgb(90, 240, 100);
}

.highlighted-selected {
   background-color: rgb(247, 45, 45) !important;
}

.fx-rack[folded="false"] {
   display: flex;
   position: fixed;
   // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   // position:fixed;
   // grid-template-rows: 3fr 1fr 2fr;
   flex-direction: row;
   // position: absolute;
   justify-content: space-around;
   align-items: center;
   // align-content: center;
   // align-content: space-around;
   border-color: rgb(114, 112, 112);
   border-width: 1px;
   border-style: solid;
   left: 19.5%;
   top: 30%;
   width: 350px;
   height: 190px;
   z-index: 2;
   background-color: rgb(45, 49, 50);
   border-top-left-radius: 30px;
   border-top-right-radius: 12px;
   box-sizing: border-box;
   box-shadow: 10px 15px 20px 2px rgba(0,0,0,.8);
}

.inner-rack {
   display: flex;
   justify-content: space-around;
   align-items: center;
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   position: relative;
}

.inner-rack > div{
   box-sizing: border-box;
   position: relative;
   transform: rotate(-90deg);
   width: 55px;
   // left: 15%;
   // align-self: center;
   // justify-self: center;
   height: calc(348px / 6);
   // align-content: center;
   // position: absolute;
   margin-bottom: -30px;
}

.inner-rack > div > label {
   color: red;
   transform: rotate(-90deg);
}

.fx-rack[folded="true"] {
   display: flex;
   position: fixed;
   // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   // position:fixed;
   // grid-template-rows: 3fr 1fr 2fr;
   flex-direction: row;
   // position: absolute;
   justify-content: space-around;
   align-items: center;
   // align-content: center;
   // align-content: space-around;
   border-color: rgb(114, 112, 112);
   border-width: 1px;
   border-style: solid;
   left: 19.5%;
   top: 50%;
   width: 350px;
   height: 190px;
   z-index: 2;
   background-color: rgb(45, 49, 50);
   border-top-left-radius: 30px;
   border-top-right-radius: 12px;
   box-sizing: border-box;
   box-shadow: 10px 15px 20px 2px rgba(0,0,0,.8);
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 23px;
   height: 24px;
   border: 0;
   background: url('./src/styles/fader_transparent_one_fader.png');
   cursor: pointer;
}
 
.slider::-moz-range-thumb {
   width: 23px;
   height: 25px;
   border: 0;
   background: url('./src/styles/fader_transparent_one_fader.png');
   cursor: pointer;
}

